@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cacher la scrollbar sur tous les navigateurs */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE et Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
